<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/home">OcuMedAI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
        <% if(currentUser) { %>
          <li class="nav-item"><a class="nav-link" href="/reports/new">New Report</a></li>
          <li class="nav-item"><a class="nav-link" href="/reports">My Reports</a></li>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
          <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <% } else { %>
          <li class="nav-item"><span class="nav-link">Welcome, <strong><%= currentUser.name %></strong></span></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
